.container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.title {
	font-size: 15px;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #404040;
	border-radius: 5px;
}

.inputContainer input {
	border-radius: 5px;
	background-color: transparent;
	padding: 5px;
	color: #fff;
	border: 0px;
	outline: 0px solid;
	display: flex;
	width: 100%;
}

.inputContainer input:focus {
	outline: 1px solid gray;
}
